body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Press Start 2P", system-ui;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cell {
  height: 65px;
  width: 65px;
  border: 1px solid black;
  box-shadow: none;
  background-color: inherit;
  margin: 0;
}

.cell-row {
 margin: 0; 
 display: flex;
}

.board {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}